<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>パスワード再設定</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>パスワードをお忘れですか？</h1>
  <form action="/forgot-password" method="POST">
    <input type="email" name="email" placeholder="登録済みのメールアドレス" required><br>
    <button type="submit">再設定リンクを送信</button>
  </form>
  <p><a href="/login">ログイン画面に戻る</a></p>
</body>
</html>
