<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>新しいパスワードの設定</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>新しいパスワードを設定してください</h1>
  <form action="/reset-password/<%= token %>" method="POST">
    <input type="password" name="newPassword" placeholder="新しいパスワード" required><br>
    <input type="password" name="confirmPassword" placeholder="確認用パスワード" required><br>
    <button type="submit">パスワードを変更する</button>
  </form>
</body>
</html>
